@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chart-layout {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid: 1fr 28px / 1fr 70px;
  user-select: none;

  &__chart-container {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    // cursor: crosshair;
    &:not(.blocked-by-ui):active {
      cursor: grabbing;
    }
  }

  &__price-scale-container {
    position: relative;
    grid-area: 1 / 2 / 2 / 3;
    width: 70px;
    height: 100%;
    cursor: n-resize;
  }

  &__time-scale-container {
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 28px;
    cursor: e-resize;
  }

  &__gui-wrapper {
    position: absolute;
    z-index: 1;
    width: calc(100% - 70px);
    height: calc(100% - 28px);
    pointer-events: none;
    overflow: hidden;
    color: rgb(221, 221, 221);
    white-space: nowrap;

    .legend {
      display: flex;
      align-items: center;
      gap: 20px;
      margin: 10px;

      .title-wrapper {
        display: flex;
        padding: 2px 4px;
        border-radius: 4px;
        pointer-events: all;

        &:hover {
          outline: 1px #ffffff22 solid;
          background-color: #00000044;
        }

        div::before {
          content: '\b7';
          font-size: 16px;
          height: 100%;
          left: 0;
          line-height: inherit;
          position: relative;
          text-align: center;
          top: 0;
          margin: 0 4px;
        }

        &__symbol-title::before {
          display: none;
        }
      }

      .ohlc-values {
        pointer-events: all;
        display: flex;
        gap: 10px;
        font-size: 12px;
      }
    }
  }
}
